img {
    width:400px;
}

li {
    font-family: 'Black Han Sans', sans-serif;
}
p {
    font-family: 'Kaushan Script', cursive;
}
body {
    Background-color:gray;
    text-align: center;
}
Body { BACKGROUND:url(https://i.pinimg.com/originals/fe/c3/d4/fec3d41a41d5b15032c7da7db5ffa5a5.jpg);
}
p,h1,ul {
    color:white;
}
img{
    opacity: 0.6;
}
img {border-radius: 51px;
}
